/* Start Typography */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    padding: 30px 0;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
img{
    max-width: 100%;
}
.highlight-color{
    color: #FC790B;
}
.flexible-area{
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
}
.child-half{
    align-self: center;
}
.link-btn{
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(90deg, #162447, #00204a);
    border-radius: 5px;
}

/* End Typography */


/* Start Combined with Group Selector */

#header-area .child-half:first-child, #community-area .child-half:first-child{
    flex-basis: 60%;
    padding-right: 5%;
}
#header-area .child-half:last-child, #community-area .child-half:last-child{
    flex-basis: 35%;
}

/* End Combined with Group Selector */


/* Start Header Part */

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    border-left: 5px solid #FFA500;
    padding: 0 10px;
}

/* End Header Part */


/* Start Mission Part */

.mission-area h2{
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
}
.mission-area .flexible-area .child-half{
    flex-basis: 32%;
    border-radius: 15px;
    padding: 10px 2%;
}
.mission-area .flexible-area .child-half p{
    padding-top: 10px;
}
.mission-area .flexible-area .child-half img{
    width: 50%;
    height: 170px;
}
.mission-area .flexible-area .child-half:first-child{
    background-color: #EDF5F6;
}
.mission-area .flexible-area .child-half:nth-child(2){
    background-color: #FFEEEE;
}
.mission-area .flexible-area .child-half:last-child{
    background-color: #FFF4D6;
}

/* End Mission Part */


/* Start Develop Part */

#develop-area{
    background: url(images/bg/shape-1.png) no-repeat;
    background-position: left;
    margin: 30px 0;
}
#develop-area .child-half:first-child{
    flex-basis: 35%;
}
#develop-area .child-half:last-child{
    flex-basis: 63%;
    padding-left: 2%;
}

/* End Develop Part */


/* Strat Comunity Part */

#community-area{
    background: url(images/bg/shape-1.png) no-repeat;
    background-position: 98% 98%;
}
#community-area .child-half:last-child{
    padding: 40px 0;
}

/* End Comunity Part */


/* Start Testimonial Part */

#testimonial-area{
    text-align: center;
    padding: 30px 8%;
    background: url(images/testimonmial-bg.png) no-repeat;
    background-size: 100% 100%;
}
#testimonial-area h1{
    border: none;
    padding-bottom: 40px;
}
#testimonial-area h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#testimonial-area h3{
    font-size: 1rem;
    color: #9B9B9B;
    padding-bottom: 20px;
}
#testimonial-area .message{
    width: 60%;
    margin: 40px auto;
    color: #fff;
    background-image: linear-gradient(90deg, #162447, #00204a);
    border-radius: 5px;
    padding: 40px 5%;
}
#testimonial-area .message p{
    padding: 20px 0 10px;
}

/* End Testimonial Part */


/* Start Footer Part */

.footer-area{
    background-color: #000333;
    text-align: center;
    color: #fff;
    padding: 30px 0 20px;
}
.footer-area h2{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* End Footer Part */